:host {
    display: flex;
    position: absolute;
    inset: 0;
    flex-direction: column;
    /*padding: 10px;*/
    overflow: auto;
    font-family: Calibri, sans-serif;
    background-color: #F7F8FC;
    scroll-behavior: smooth;
    /* font-family: inherit; */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header,
footer {
    padding: 10px;
}
kj-tabber {
    width: 100%;
    height: 100%;
}
kj-tabber-head {
    padding: 10px;
    overflow: auto;
}
kj-tabber-tab {
    padding: 10px;
}
kj-tabber-body {
    /*padding: 10px;*/
    overflow: auto;
    background: white;
}
kj-table-column {
    padding: 5px 10px;
}
kj-table-cell {
    padding: 5px 10px;
}

#container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    overflow: auto;
    /*scroll-behavior: smooth;*/
}
.logLevel {
    display: flex;
    align-items: center;
    gap: 5px
}
.info {
    --color:  rgb(56, 56, 255);
    color: var(--color);
    fill: var(--color);
    /*stroke: var(--color);*/
}
.warning {
    --color: rgb(233, 151, 0);
    color: var(--color);
    fill: var(--color);
    /*stroke: var(--color);*/
}
.error {
    --color: red;
    color: var(--color);
    fill: var(--color);
    /*stroke: var(--color);*/
}