<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebMonitor</title>
    <link type="image/png" sizes="96x96" rel="icon" href="./favicon.png">

    <!-- <link rel="stylesheet" href="public/css/fonts.css" type="text/css"> -->
    <link rel="stylesheet" href="public/css/main.css">

</head>
<body>
    <webmonitor-app></webmonitor-app>

    <script src="<%= mainScript %>" type="module"></script>
</body>
</html>